<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @comment.comment %>
</p>

<p>
  <strong>Added by:</strong>
  <%= @comment.added_by %>
</p>

<p>
  <strong>Event:</strong>
  <%= @comment.event_id %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
