<div class="event-choice-area">
  <div class="active-events-button">
    <%= button_to 'Active Events', {action: "index", event_type: :active}, method: :get, remote: true, :class => "btn btn-default btn-small" %>
  </div>
  <div class="scheduled-events-button">
    <%= button_to 'Scheduled Events', {action: "index", event_type: :scheduled}, method: :get, remote: true, :class => "btn btn-default btn-small" %>
  </div>
  <div class="resolved-events-button">
    <%= button_to 'Resolved Events', {action: "index", event_type: :resolved}, method: :get, remote: true, :class => "btn btn-default btn-small" %>
  </div>
</div>

<div class="events">
  <%= render @partial_to_get %>
</div>

<%= link_to 'New Event', new_event_path %>

<%= render "layouts/modal" %>
